body{
    background-color: antiquewhite;
    color: brown;
}

h1{
    font-size: xx-large;
    text-align: center;
}
p{
    font-family: sans-serif;
    color: rgb(53, 37, 8);
}

.title{
    font-weight: bold;

}